# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
build/

# Environment
.env
.env.local
.env.*.local
service-account*.json

# Misc
.DS_Store
*.pem
.vercel
.firebase/

# Folders
json/
.claude/
